/* Estilos para la pagina de amigurumis */

/*Selector Universal*/
*{

    padding: 0;
    margin: 0;
    
}

body {
    background-color: #f0e6f3; 
    color: #612655; 
    font-size: 16px;
    text-align: justify;
    font-family:cursive;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */

header {
    background-color: #a17db7;
    color: #fff; 
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

/* Estilos para las imagenes*/
img{
    width: 150px;
    height: 200px;
    border-radius: 3px;
    padding: 10px;
    justify-items: center;
}
/* Estilos para los enlaces de navegación */
nav ul {
    list-style-type: none;
    padding: 0; 
    color: #612655;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration:none;
    color: #fff; /* Texto de menu */
    font-weight: bold;
    padding: 10px;
}

/* Estilos para la sección de inicio */
#inicio {
    background-color: #f0e6f3; /* Fondo morado pastel */
    padding: 20px;
    text-align: center;
}
#inicio h2{
    color: #612655;
}

/* Estilos para el texto en la sección de inicio */
#inicio p {
    margin: 20px 0;
    text-align: justify;
}

/* Estilos para la sección de galería */
#galeria {
    background-color: #f0e6f3; /* Fondo morado pastel */
    padding: 20px;
    text-align: center;
}

/* Estilos para las imágenes de la galería */
#galeria img {
    border: 10px solid #906fa8; /* Marco morado */
    margin: 10px;
    padding: 5px;
}

/* Estilos para la sección de tutoriales */
#tutorial {
    background-color: #f0e6f3; /* Fondo morado pastel */
    padding: 20px;
    text-align: center;
}

#tutorial img {
    border: 10px solid #f6c1ce;
    margin: 10px;
    padding: 5px;
}

#tutorial ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#tutorial li.tutorial{
    display: inline;
    margin: 0 30px;
}

#tutorial li.tutorial a{
    color: #612655;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para los enlaces de patrones en la sección de tutoriales */
#tutorial small a {
    color: #d794bf;
    text-align: center;
    padding-right: 50px;
}

/* Estilos para la sección de contacto */
#contacto {
    background-color: #f0e6f3;
    padding: 20px;
    text-align: center;
}

/* Estilos para el formulario de contacto */
#contacto form {
    margin-top: 20px;
    text-align: center;
}

#contacto textarea{
    width: 200px;
    height: 50px;
    font-size: 16px;
}

/* Estilos para el pie de página */
footer {
    background-color: #a17db7;
    color: #fff;
    text-align: center;
    padding: 10px;
}

